body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
}

.app-header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
}

.app-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 60px);
}